@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Go back to your Home page and add customer.
    </p>


</article>

<aside>
    <h3>Main Menu</h3>
    <p>
        Site Map.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "SearchIndex", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>